{% extends 'base.html.twig' %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/home.css') }}">{% endblock %}
{% block title %}cCtegories{% endblock %}



{% block body %}
{{ include('partials/header.html.twig') }}
<div class="container" id="index">
  <div class="pricing-header  pt-md-5 pb-md-4 mx-auto text-center">

    <p class="lead">Faites-vous plaisir en profitant de ces annonces.</p>
    <div>
    {{ include('home/__form.html.twig') }}
    </div>
  </div>
  <div class="">
  </div>
  <main role="main" >
    <div class="album py-5 bg-light">
      <div class="container">
        <div class="navigation">
          {{ knp_pagination_render(annonces) }}
        </div>
        <div class="row">
          {% for annonce in annonces %}
          {% for MonAnnonce in annonce %}

          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <div class="" style="height:194px;" >
                <img class="d-block w-100 card-img-top img-thumbnail" id="center" style="max-height:100%;max-width:100%"  src="{{asset('uploads/images/images_annonces/')}}{{MonAnnonce.nom}}" alt="Images pour annonces">
              </div>
              <div class="card-body">
                <h4><a href="{{ path('annonce',{'slug':MonAnnonce.annonces.slug}) }}">{{ MonAnnonce.annonces.titre}}</a> </h4>
                {% if MonAnnonce.annonces.prix == null %}
                <h4>Sur commande</h4>
                {% else %}
                <h4><i class='fas fa-coins'></i> {{ MonAnnonce.annonces.prix}} FCFA</h4>
                {% endif %}
                <ul>
                  {% if MonAnnonce.annonces.possibiliteEchange == 1 %}
                  <li>Il y a une possibilité d'échange</li>
                  {% endif %}
                  {% if MonAnnonce.annonces.prixNegociable == 1 %}
                  <li>Prix est négociable</li>
                  {% endif %}
                </ul>
                <small class="text-muted">{{ MonAnnonce.annonces.users.nomComplet}}</small>
                <p class="card-text">{{ MonAnnonce.annonces.description |slice(0,100) |raw}}</p>
                <div class="d-flex flex-column">
                  <div class="btn-group">
                    <a href="{{ path('annonce',{'slug':MonAnnonce.annonces.slug}) }}"  class="btn btn-sm btn-primary">Voir l'annonce</a>

                  </div>
                  <div class="">
                    <small class="badge badge-danger">Publiée le {{ MonAnnonce.annonces.updatedAt |format_date}}</small>
                  </div>

                </div>
              </div>
            </div>
          </div>

          {% endfor %}

          {% endfor %}


        </div>
        <div class="navigation">
          {{ knp_pagination_render(annonces) }}
        </div>
      </div>
    </div>
  </main>



  {{ include('partials/footer.html.twig') }}
</div>
{% endblock %}
{% block javascripts %}
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<script type="text/javascript" src="{{asset('js/search_ajax.js')}}"></script>
{% endblock %}
