{% extends 'base.html.twig' %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/home.css') }}">{% endblock %}
{% block title %}Accueil{% endblock %}

{% block body %}
{{ include('partials/header.html.twig') }}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center" id="index">
  <h1 class="display-4">Marketbi</h1>
  <p class="lead">Quickly build an effective pricing table for your potential customers with this Bootstrap example.</p>
</div>

<div class="container">
  <!-- Material input -->

</div>








<div class="container">
  <div class="card-deck mb-3 text-center">
   {% for allRubrique in allRubriques %}
    <div class="card  mb-4 box-shadow">
      <div class="card-header bg-primary">
        <h4 class="my-0  font-weight-normal" style="color:#fff">{{allRubrique.nom}}</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled mt-3 mb-4">
          {% for categorie in allRubrique.categories %}
              <li class="text-justify" ><a style="color:#212529" href="{{ path('categorie',{'slug':categorie.slug}) }}">{{categorie.nom}}</a></li>
          {% endfor %}

        </ul>
      </div>
    </div>
    {% endfor %}
  </div>

  {{ include('partials/footer.html.twig') }}
</div>
{% endblock %}
