{% extends 'base.html.twig' %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/login.css') }}">{% endblock %}
{% block title %}Sign-up{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-light fixed-top bg-white border-bottom box-shadow">
  <a class="navbar-brand" href="{{ path ('home')}}"><img  src="{{ asset('images/logo.jpg')}}" alt="" width="35" height="30"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link btn btn-sm m-1 btn-primary text-white" href="{{ path('app_login') }}">faîtes une annonce</a>
      </li>

      <li class="nav-item">
        <a class="nav-link btn btn-sm m-1 btn-primary text-white" href="{{ path('app_login') }}">Connexion</a>
      </li>
    </ul>

  </div>
</nav>

<div class="container" id="form_inscription">
  
</div>
<div >
  <div class="container" >
    <div class="col-md-4 offset-md-4">
      <div class="text-center mb-4">
        <div class="">
          <img class="mb-4" src="{{ asset('images/logoLogin.png')}}" alt="" width="72" height="72">
        </div>
        <h1 class="display-5 mb-3 font-weight-normal">Inscrivez-vous</h1>
      </div>

      <!-- <div class="checkbox mb-3">
      <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div> -->
  <!-- start -->
 <form name="registration_form" method="post">
  <div id="registration_form">
    <div class="form-group">
      <input type="email" id="registration_form_email" name="registration_form[email]" class="form-control form-control" placeholder="Adresse email (optionel)" />
    </div>
    <div class="form-group">
      <input type="text" id="registration_form_NumeroDeTel" name="registration_form[NumeroDeTel]" required="required" class="form-control form-control" placeholder="Numéro de téléphone" />
    </div>
    <div class="form-group">
      <input type="text" id="registration_form_NomComplet" name="registration_form[NomComplet]" required="required" class="form-control form-control" placeholder="Votre nom complet" />
    </div>
    <div class="form-group">
      <input type="password" id="registration_form_Password" name="registration_form[Password]" required="required" placeholder="Votre mot de passe" class="form-control" />
      <a class="btn mt-1 btn-sm btn-light" id="iconShowPasswordInscription" href="#"><i class="fas fa-eye-slash"></i></a>
    </div>
    <div class="form-group">
      <button type="submit" id="registration_form_add" name="registration_form[add]" class="btn waves-effect btn-primary waves-light btn">Valider</button>
    </div>
    <input type="hidden" id="registration_form__token" name="registration_form[_token]" value="NnP6KHckjdokPgjWTe-c4j9wdm7AYtLJH6VFgFhAqzM" />
  </div>
</form>

  <!-- end -->

  <p class="mt-5 mb-3 text-muted text-center">&copy; {{ 'now'| date('Y')}}</p>
</div>
</div>
</div>
{% endblock %}
{% block javascripts %}
<script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" data-auto-replace-svg="nest"></script>
<script type="text/javascript" src="{{asset('js/showPassword.js')}}"></script>

{% endblock %}
