{% extends 'base.html.twig' %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/login.css') }}">{% endblock %}
{% block title %}Sign-up{% endblock %}

{% block body %}
<div class="d-flex fixed-top flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
  <a class="my-0 mr-md-auto mb-2" href="{{ path ('home')}}"><img  src="{{ asset('images/logo.jpg')}}" alt="" width="128" height="128"></a>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="btn btn-outline-primary" href="{{ path('app_register') }}">Faites une annonces</a>
    <a class="btn btn-outline-primary" href="{{ path('app_login') }}">Connexion</a>
  </nav>
</div>

<div id="form_inscription">
  <div class="container" >
    <div class="col-md-4 offset-md-4">
      <div class="text-center mb-4">
        <div class="">
          <img class="mb-4" src="{{ asset('images/logoLogin.png')}}" alt="" width="72" height="72">
        </div>
        <h1 class="display-5 mb-3 font-weight-normal">Inscrivez-vous</h1>
      </div>

      {{ form_start(registrationForm) }}
      {{ form_widget(registrationForm) }}



      <!-- <div class="checkbox mb-3">
      <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div> -->
  {{ form_end(registrationForm) }}
  <p class="mt-5 mb-3 text-muted text-center">&copy; 2019-2020</p>
</div>
</div>



</div>






{% endblock %}
