<footer class="pt-4 my-md-5 pt-md-5 border-top container">
  <div class="row">
    <div class="col-12 col-md">
      <a href="{{ path('home')}}"><img class="mb-2" src="{{ asset('images/logo.jpg')}}" alt="" width="30" height="30"></a>
      <small class="d-block mb-3 text-muted">&copy; {{ 'now'| date('Y')}}</small>
    </div>
    <div class="col-6 col-md d-none">
      <h5>Newletters</h5>
      <form method="post" action="{{path('newsletter_new')}}">
        <div class="form-group">
          <label for="exampleInputEmail1">Voulez-vous recevoir des notifications par e-mail</label>
          <input type="email" class="form-control" id="newletters" name="newletters" aria-describedby="emailHelp" placeholder="Entrer votre email">
        </div>
        <div class="alert alert-success" id="reponse_newletters"></div>
        <button type="button" id="submit" class="btn btn-primary">Envoyer</button>
      </form>

    </div>
    <div class="col-6 col-md">
      <h5>Nous contacter</h5>
      <ul class="list-unstyled text-small">
        <li>Rufisque cité Tacko villa N°1184</li>
        <li class="text-muted"><img src="{{asset('images/etatunis.png')}}" style="width:20px;height:20px" alt=""> +1 (330) 423-2524</li>
        <li class="text-muted"><img src="{{asset('images/senegal.png')}}" style="width:20px;height:20px" alt=""> +221 77 402 07 67</li>
        <li class="text-muted"><img src="{{asset('images/senegal.png')}}" style="width:20px;height:20px" alt=""> +221 77 550 49 05 (dev)</li>

      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>A propos</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="{{path('apropos')}}">Qui sommes-nous ?</a></li>
        <!-- <li><a class="text-muted" href="#">Les termes et politiques de Confidentialité</a></li> -->
      </ul>
    </div>
  </div>
</footer>
