{% extends 'base.html.twig' %}

{% block title %}Nouvelles Annonces{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/annonce.css') }}">{% endblock %}
{% block body %}
{{ include('partials/header.html.twig') }}
<div class="container" id="annonce-depot">
  <h3><span class="badge badge-primary">Publier une annonce</span></h3>
  <div class="alert alert-danger">
    Tous les champs doivent être obligatoirement remplis sauf ceux qui sont optionnels!
  </div>

  <div class="col-md-8 border p-4" >
    {{ include('annonces/_form.html.twig') }}
    <a class="btn mt-2 btn-sm btn-primary" id="annuler" href="{{ path('user_account') }}">Annuler</a>
    <a class="btn mt-2 btn-sm btn-primary" id="terminer" href="{{ path('user_account') }}">Cliquez ici</a>
    <a class="btn mt-2 btn-sm btn-primary" id="recommencer" href="{{ path('annonces_new') }}">recommencer</a>
  </div>



  <!-- <div class="border p-4" style="box-shadow:1px 1px 5px 1px gray">
  <h1 class="display-4">Aj</h1>

</div> -->



{{ include('partials/footer.html.twig') }}
</div>

{% endblock %}
{% block javascripts %}
<script type="text/javascript" src="{{asset('js/upload.js')}}"></script>
<script type="text/javascript">
//ajout de champs de search
$(document).ready(function(){
  $('#annonces_quartier').chosen();
  $('#annonces_region').chosen();
  $('#annonces_etat').chosen();
  $('#annonces_zone').chosen();
  $('#annonces_categorie').chosen();
});


</script>
{% endblock %}
