{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}
{% block stylesheets %}
<link href="{{ asset('css/jumbotron.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}


<nav class="navbar navbar-expand-lg navbar-light fixed-top bg-white border-bottom box-shadow">
  <a class="navbar-brand" href="{{ path ('home')}}"><img  src="{{ asset('images/logo.jpg')}}" alt="" width="35" height="30"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link btn btn-sm m-1 btn-primary text-white" href="{{ path('home') }}">Voir les annonces</a>
      </li>

      <li class="nav-item">
        <a class="nav-link btn btn-sm m-1 btn-primary text-white" href="{{ path('app_logout') }}">Deconnexion</a>
      </li>
    </ul>
    <div class="d-none" id="form-compte">
      <form class="form-inline my-2 my-lg-0" id="formSearch">
        <input class="form-control mr-sm-2" type="search" name="" id="" placeholder="Tapez votre recherche ici" aria-label="Search">
      </form>
    </div>

  </div>
</nav>
<div class="container" id="mon-compte">
  <div class="container" id="index">
  {{ include('home/__form.html.twig') }}
  
  </div>

</div>
<div >

  <main role="main" >
    <div class="container">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item m-1">
          <a class="nav-link btn btn-sm btn-primary" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Information</a>
        </li>
        <li class="nav-item m-1">
          <a class="nav-link btn btn-sm btn-primary " id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Mes annonces expirées</a>
        </li>

        <li class="nav-item m-1">
          <a class="nav-link btn btn-sm btn-primary" id="Annonce-En-ligne-tab" data-toggle="tab" href="#AnnonceEnligne" role="tab" aria-controls="AnnonceEnligne"  aria-selected="false">Mes annonces en ligne</a>
        </li>

      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade " id="home" role="tabpanel" aria-labelledby="home-tab">
          <div class="">
            <h2> <span class="badge badge-primary">Mes annonces expirées</span> </h2>
            <div class="album py-5 bg-light">
              <div class="container">

                <div class="row">
                  {% for MesAnnonce in users %}
                  {% for AnnonceExp in MesAnnonce %}


                  <div class="col-md-4">

                    <div class="card mb-4 box-shadow">
                      <img class="d-block w-100 card-img-top"  src="{{ asset('/uploads/images/images_annonces/')}}{{AnnonceExp.nom}}" alt="Card image cap">

                      <div class="card-body">
                        <h4><a href="{{ path('annonce',{'slug':AnnonceExp.annonces.slug}) }}">{{ AnnonceExp.annonces.titre}}</a> </h4>
                        <h4><i class='fas fa-coins'></i> {{ AnnonceExp.annonces.prix}} FCFA</h4>

                        <small class="text-muted">{{ AnnonceExp.annonces.users.nomComplet}}</small>
                        <p class="card-text">{{ AnnonceExp.annonces.description |slice(0,100) |raw}}</p>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                            <a href="{{ path('annonce',{'slug':AnnonceExp.annonces.slug}) }}" type="button" class="btn btn-sm btn-outline-secondary">Voir</a>

                          </div>
                          <small class="text-muted">{{ AnnonceExp.annonces.updatedAt |format_date}}</small>
                          <small class="alert alert-danger text-muted">expirée le {{ AnnonceExp.annonces.expiredAt |format_date}}</small>

                        </div>

                      </div>
                    </div>
                  </div>
                  {% else %}
                  <div class="alert alert-warning">
                    Il y n'a pas encore d'annonce expirée
                  </div>
                  {% endfor %}
                  {% endfor %}

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade " id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <div class="jumbotron jumbotron-fluid border border-primary rounded">
            <div class="container">
              <h2 class=""><span class="badge badge-primary">{{user.nomComplet}}</span></h2>
              <p class="lead">Bienvenue dans votre marché digital,vous avez la possibilité de tout vendre ou tout acheter en restant chez vous.</p>
              <a class="btn btn-sm btn-primary" href="{{ path('annonces_new')}}">Publier une annonce</a>

            </div>
          </div>
        </div>
        <div class="tab-pane fade show active" id="AnnonceEnligne" role="tabpanel" aria-labelledby="Annonce-En-ligne-tab">
          <!-- debu annonce en ligne -->
          <h2> <span class="badge badge-primary">Mes annonces en ligne</span> </h2>
          <div class="album py-5 bg-light">
            <div class="container">
              <a class="btn btn-sm btn-primary mb-1" href="{{ path('annonces_new')}}">Publier une annonce</a>
              <div class="row">
                {% for MesAnnonceEnLigne in usersEnLigne %}
                {% for Annonce in MesAnnonceEnLigne %}
                <div class="col-md-4">
                  <div class="card mb-4 box-shadow">

                    <img class="d-block w-100 card-img-top"  src="{{ asset('/uploads/images/images_annonces/')}}{{Annonce.nom}}" alt="Card image cap"></a>

                    <div class="card-body">
                      <h4><a href="{{ path('annonce',{'slug':Annonce.annonces.slug}) }}">{{ Annonce.annonces.titre}}</a> </h4>
                      <h4><i class='fas fa-coins'></i> {{ Annonce.annonces.prix}} FCFA</h4>

                      <small class="text-muted">{{ Annonce.annonces.users.nomComplet}}</small>
                      <p class="card-text">{{ Annonce.annonces.description |slice(0,100) |raw}}</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <a href="{{ path('annonce',{'slug':Annonce.annonces.slug}) }}" type="button" class="btn btn-sm btn-outline-secondary">Voir</a>
                        </div>
                        <small class="text-muted">{{ Annonce.annonces.updatedAt |format_date}}</small>
                        <small class="alert alert-danger text-muted">expirée le {{ Annonce.annonces.expiredAt |format_date}}</small>
                      </div>


                    </div>
                  </div>
                </div>

                {% else %}
                <div class="alert alert-warning">
                  Il y n'a pas encore d'annonce en ligne
                </div>
                {% endfor %}
                {% endfor %}


              </div>
            </div>
            <!-- fin annonce en ligne -->
          </div>

        </div>
      </div>

      <!-- Main jumbotron for a primary marketing message or call to action -->

      <div class="container">
        <div class="">
          <!-- debu annonce en ligne -->

          <!-- fin -->
        </div>

        <!-- annonce expirer -->
        <!-- fin -->

        {{ include('partials/footer.html.twig') }}
      </div> <!-- /container -->
    </main>
  {% endblock %}
  {% block javascripts %}
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>
  <script type="text/javascript" src="{{asset('js/search_ajax.js')}}"></script>
{% endblock %}
